<Context path="/apbatch" docBase="apbatch" debug="5" reloadable="true" crossContext="true">
    <Realm className="edu.ucsd.library.security.LibraryRealmAD" debug="99"
        connectionURL="ldap://ldap.ad.ucsd.edu" userPrefix="CN="
        userSuffix=",OU=Users,OU=University Library,DC=AD,DC=UCSD,DC=EDU"
        roleAttrib="memberOf"/>
    <ResourceLink name="clusterSharedPath" global="clusterSharedPath" type="java.lang.String"/>
    <ResourceLink name="clusterHostName" global="clusterHostName" type="java.lang.String"/>
   <ResourceLink name="apbatch" global="jdbc/apbatch"  type="javax.sql.DataSource"/>
   <ResourceLink type="javax.sql.DataSource" global="jdbc/authzt" name="jdbc/authzt"/>
    <ResourceLink name="apbatchFilePath" global="apbatchFilePath" type="java.lang.String"/>
 <ResourceLink type="java.lang.String"
        name="apBatchServer/hostname" global="apBatchServer/hostname"/>
    <ResourceLink type="java.lang.String"
        name="apBatchServer/username" global="apBatchServer/username"/>
    <ResourceLink type="java.lang.String"
        name="apBatchServer/password" global="apBatchServer/password"/>
    <ResourceLink type="java.lang.String"
        name="apBatchServer/path"     global="apBatchServer/path"/>
</Context>
